body {
    background: #001A23;
}

.card{
    padding: 20px 50px;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    text-align: justify;
    box-sizing: border-box;
}

h2, h3,p {
    font-family: sans-serif;
    display: inline-block;
    color: #F3EFF5;
}

h3{
    font-weight: 100;
    font-size: 12px;
    margin: 10px;
}

.encabezado{
    background-color: #3F7D20;
    padding: 0 20px;
    border-radius: 20px 20px 0 0;
    text-transform: capitalize;
}

p{ 
    margin: 0;
    padding: 20px;
    background-color: #72B01D;
    border-radius: 0 0 20px 20px;
    font-size: 14px;
}